<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CIT 365 Marco Morley</title>
    <link href="~/Styles/MegaStyle.css" rel="stylesheet" />

</head>
<body>
    <div id="container">
        <div id="header">
            <h1>My MegaDesk Razor</h1>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
            &copy; @DateTime.Now.Year My Scripture Journal site
        </div>
    </div>
</body>
</html>
